<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      Lasconf
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only modal class="developed_info" >
        <ion-icon name="ios-information-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
   
</ion-header>

<ion-content padding>
  {{teste}}
  <h4 text-center class="title-page">Selecione os parâmetrossss</h4>
  <form [formGroup]="requirements" (submit)="nextPage()">

    <box-select-title title="Fonte de Luz">
      <ion-item >
        <ion-select  placeholder="Selecione a Fonte de Luz" interface="action-sheet" (ionChange)="selectLight($event)" formControlName="light">
          <ion-option *ngFor="let light of lights" [value]="light">{{ light.nm_fonte }}</ion-option>
        </ion-select>
      </ion-item>
    </box-select-title>

    <box-select-title title="Doença">
      <ion-item>
        <ion-select placeholder="Selecione a Doença" interface="action-sheet" (ionChange)="selectDisease($event)"  formControlName="disease" >
          <ion-option *ngFor="let disease of diseases" [value]="disease">{{ disease.nome_doenca }}</ion-option>
        </ion-select>
      </ion-item>
    </box-select-title>

    <box-select-title title="Equipamento">
        <ion-item>
          <ion-select placeholder="Selecione o Equipamento" interface="action-sheet" formControlName="equipment">
            <ion-option *ngFor="let equipment of equipments" [value]="equipment"> {{ equipment.nm_equip }}</ion-option>
          </ion-select>
        </ion-item>
      </box-select-title>

    <div class="button_config">
      <button ion-button color="quaternary" [disabled]="requirements.invalid">Próximo</button>
    </div>
  </form>
  
</ion-content>