page-generated-configs {
    ion-item{
        .title_configs{
           font-size: 1.4rem; 
           color: map-get($colors, primary);
           width: 50%;
        }

        .value_configs{
            font-size: 1.4rem;
            color: map-get($colors , secondary );
            text-align:right;
            width:80%;
        }

        .title_setup {
            color: map-get($colors, primary);
        }

        .value_setup {
            color: map-get($colors, secondary);
            font-size: 1.3rem;
        }

    }

    .divider{
        border-bottom:1px solid map-get($colors, tertiary);
        margin:0px 3px;
    }

  

}