
*{
    font-family: Helvetica, Helvetica, sans-serif;
}

.title-page{
    margin-top:1rem !important;
    color: map-get($colors , primary );
}

ion-select{
    width:100%;
    max-width: 100%;
}

.button_config{
     padding-left:0.9em;
     button{
       width:100%;     
     }  
}

.logo-title{
    width:105px;
}

.developed_info{
    color:map-get($colors, primary );
}

